@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

body {
  @apply font-sans bg-slate-50 text-slate-900;
}

a {
  @apply text-primary-600 hover:text-primary-700;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  @apply outline-none ring-2 ring-primary-400 ring-offset-2;
}
